
body {
    color: #000;
    background: #fff;
}

/* LAYOUT */
.post .date, .quote .date, .bookmark .date {
	float: left;
	padding: .3em .4em .3em 1.2em;
	background: #000;
	color: #fff;
	margin: 0.3em 0  0 -6.0em;
	width: 3.8em;
}

.post .teaser{ border-bottom: solid 1.0em #000;}

/* LINKS */
a:link, a:visited {
    color: #A49D01;
}
a:hover { color: #8C8702; }
h2 a:link, h2 a:visited, #nav a:link, #nav a:visited { color: #5B5701; font-weight: 200;}
h2 a:hover, #nav a:hover { color: #8C8702;}

/* styles overwrites */
h2 { font-weight: 200;}

.post .date, .quote .date, .bookmark .date {
  background-color: #E6D085;
  color: #5B5701;
}

.post .teaser {
  border-bottom: 1em solid #E6D085;
}

/* category detail */
h2.filter-title {
  background-color: #E6D085;
  color: #5B5701;
}